.docspress-nav-list {
  --docspress--navigation--padding: 10px 1px 10px 10px;
  --docspress--navigation--font-size: 0.85em;
  --docspress--navigation--color: var(--docspress-color-text);

  // Link.
  --docspress--navigation--link--padding: 3px 20px;
  --docspress--navigation--link--font-weight: 500;
  --docspress--navigation--link--color: inherit;
  --docspress--navigation--link-hover--color: var(--docspress-color-primary);
  --docspress--navigation--link-active--color: var(--docspress-color-primary);
  --docspress--navigation--link-active--font-weight: 500;
  --docspress--navigation--link-parent--padding: 7px 0;
  --docspress--navigation--link-children--font-weight: 400;

  // Category.
  --docspress--navigation--category--padding: 15px 0 7px 0;
  --docspress--navigation--category--font-weight: 700;

  // Children.
  --docspress--navigation--children--padding: 0 0 10px;
  --docspress--navigation--children--margin-left: 15px;

  padding: var(--docspress--navigation--padding);
  margin: 0;
  font-size: var(--docspress--navigation--font-size);
  color: var(--docspress--navigation--color);
  list-style: none;

  // Links.
  a {
    display: block;
    padding: var(--docspress--navigation--link--padding);
    padding-left: 0;
    font-weight: var(--docspress--navigation--link--font-weight);
    color: var(--docspress--navigation--link--color);
    text-decoration: none;

    &:hover {
      color: var(--docspress--navigation--link-hover--color);
    }
  }

  // Parent links.
  > li > a {
    padding: var(--docspress--navigation--link-parent--padding);
  }

  // Current links.
  li.current_page_item > a {
    font-weight: var(--docspress--navigation--link-active--font-weight);
    color: var(--docspress--navigation--link-active--color);
  }

  // Category.
  .docspress-nav-list-category {
    padding: var(--docspress--navigation--category--padding);
    font-weight: var(--docspress--navigation--category--font-weight);
  }

  // Children.
  .children {
    display: none;
    padding: var(--docspress--navigation--children--padding);
    margin-left: var(--docspress--navigation--children--margin-left);
    list-style: none;

    a {
      font-weight: var(--docspress--navigation--link-children--font-weight);
    }
  }

  &.docspress-nav-list-show-childs .children,
  > .current_page_parent .children,
  > .current_page_item .children,
  > .current_page_ancestor .children {
    display: block;
  }
}
