// Variables
$color_main: #069dfd !default;
$color_text_main: #47484a !default;
$color_text_secondary: #a7a7a7 !default;

$color_border: #eee !default;
$color_border_lighten: #f9f9f9 !default;
$color_border_darken: #e7e7e7 !default;

$color_button: #2f3035 !default;

$preloader_color: rgba($color_text_main, .3) !default;
$preloader_color_inner: $color_text_main !default;
$preloader_size: 30px !default;
$preloader_size_inner: $preloader_size * .35 !default;
$preloader_weight: 3px !default;


/**
 * Buttons
 */
.docspress-btn {
    display: inline-block;
    padding: 8px 20px;
    font-size: .8em;
    font-weight: 600;
    line-height: 1.3;
    color: $color_button;
    text-align: center;
    letter-spacing: .05em;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border: 1px solid $color_border_darken;
    border-radius: 2px;
    transition: .1s;

    &,
    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus {
        text-decoration: none;
    }
    &:hover,
    &.hover {
        color: #fff;
        background-color: lighten($color_button, 10%);
        border-color: lighten($color_button, 10%);
    }
    &:active,
    &.active,
    &:focus {
        color: #fff;
        background-color: lighten($color_button, 8%);
        border-color: lighten($color_button, 8%);
    }

    .badge {
        float: right;
        min-width: 14px;
        height: 14px;
        padding: 0 4px;
        margin-right: -5px;
        margin-left: 5px;
        font-size: 9px;
        line-height: 1.6;
        color: #fff;
        text-align: center;
        background-color: darken($color_border_darken, 10%);
        border-radius: 7px;
    }

    .icon {
        position: relative;
        top: -2px;
        font-family: monospace;
    }
}
.docspress-btn-md {
    padding: 10px 25px;
    font-size: .85em;
}
.docspress-btn-lg {
    padding: 12px 30px;
    font-size: .9em;
}


/**
 * Main Styles
 */
body.single.single-docs .content-area {
    width: 100%;
}

.docspress-sr-only {
    position: absolute !important; // stylelint-disable-line
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Single Docs
 */
.docspress-single {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &.hentry {
        padding-top: 0;
        box-shadow: none;
    }

    /**
     * Single Doc Sidebar
     */
    .docspress-single-sidebar {
        position: relative;
        flex: 1;
        min-width: 250px;
        padding-bottom: 40px;
        border-right: 1px solid $color_border;

        h3.widget-title {
            padding: 40px 30px;
            margin: 0;
            font-weight: 600;

            + .docspress-nav-list {
                padding-top: 0;
                margin-top: -10px;
            }
        }

        .docspress-single-sidebar-wrap {
            position: sticky;
            top: 20px;
            max-height: calc(100vh - 40px);
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            body.admin-bar & {
                top: calc(20px + 32px);
                max-height: calc(100vh - 40px - 32px);

                @media screen and (max-width: 782px) {
                    top: calc(20px + 42px);
                    max-height: calc(100vh - 40px - 42px);
                }
                @media screen and (max-width: 600px) {
                    top: 20px;
                    max-height: calc(100vh - 40px);
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 4px;
            }
            &:hover::-webkit-scrollbar-thumb {
                background: rgba(135, 135, 135, .4);
            }
            &:hover::-webkit-scrollbar-track {
                background: rgba(135, 135, 135, .1);
            }
        }

        .docspress-nav-list {
            padding: 10px;
            padding-right: 1px;
            margin: 0;
            font-size: .85em;
            color: $color_text_main;
            list-style: none;

            li {
                a {
                    display: block;
                    padding: 3px 20px;
                    padding-left: 0;
                    font-weight: 600;
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        color: $color_main;
                    }
                }

                ul.children {
                    display: none;
                    padding: 0;
                    padding-bottom: 10px;
                    margin-left: 15px;
                    list-style: none;

                    a {
                        font-weight: 400;
                    }
                }
            }

            &.docspress-nav-list-show-childs li ul.children {
                display: block;
            }

            > li {
                > a {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }

            > li li.current_page_item > a,
            li.current_page_item > a {
                font-weight: 600;
                color: $color_main;
            }

            > li.current_page_parent,
            > li.current_page_item,
            > li.current_page_ancestor {
                ul.children {
                    display: block;
                }
            }
        }
    }

    /**
     * Single Doc Content
     */
    .docspress-single-content {
        position: relative;
        flex: 3;
        min-width: 400px;
        padding: 40px;
        padding-bottom: 0;

        .entry-header,
        .entry-content {
            padding: 0;
        }

        .entry-content {
            display: block;
            float: none !important; // stylelint-disable-line
            width: 100% !important; // stylelint-disable-line
            margin-bottom: 40px;
        }

        .entry-footer {
            display: block;
            float: none;
            width: 100%;
            padding: 0;
            margin-bottom: 40px;
            font-size: .85em;
            text-align: right;
            background-color: transparent;

            // fix for some themes
            body:not(.search-results) & {
                float: none;
                width: 100%;
            }

            time {
                font-size: .9em;
                font-style: italic;
                font-weight: 400;
                color: $color_text_secondary;
            }
        }
    }

    /**
     * Single Doc Anchors
     */
    .anchorjs-link {
        transition: .15s opacity ease-in-out;

        &,
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            box-shadow: none;
        }
    }

    /**
     * Single Doc Comments
     */
    .comments-area {
        padding: 40px;
        margin-top: 0;
        margin-right: -39px;
        margin-left: -39px;
        border: none;
        border-top: 1px solid $color_border;
        box-shadow: none;
    }

    @media screen and (max-width: 800px) {
        .docspress-single-sidebar,
        .docspress-single-content {
            min-width: 100%;
            max-width: 100%;
        }
    }

    // ajax loading
    &.docspress-single-ajax-loading {
        .docspress-single-sidebar > *,
        .docspress-single-content > * {
            opacity: .15;
        }
        .docspress-single-content > .docspress-preloader {
            opacity: 1;
        }
    }
}

/**
 * Search
 */
.docspress-search-form {
    margin-bottom: 30px;
    font-size: .85em;

    .docspress-search-field {
        padding: 10px;
        font-size: inherit;
        background: none;
        border: none;
        border-bottom: 1px solid $color_border;
        border-radius: 0;
        transition: .15s border-color ease-in-out;

        &:focus {
            border-bottom-color: darken($color_border, 15%);
        }

        &::placeholder {
            color: $color_text_secondary;
        }
    }
}
.docspress-search-form-result {
    margin-bottom: 30px;

    &:empty {
        display: none;
    }

    .docspress-search-form + & {
        margin-top: -30px;
    }

    mark {
        font-weight: 600;
        color: $color_main;
        background: none;
    }

    .docspress-search-list {
        padding: 0;
        margin: 0;
        list-style: 0;
    }

    .docspress-search-list-item > a {
        display: block;
        padding: 10px;
        font-size: .85em;
        color: inherit;
        border-bottom: 1px solid $color_border;
        transition: .15s color ease-in-out;

        &:hover {
            color: $color_main;
        }
    }
    .docspress-search-list-item-title {
        display: block;
        font-weight: 600;
    }
    .docspress-search-list-item-excerpt {
        display: block;
        margin-top: 5px;
        font-size: .85em;

        &:empty {
            display: none;
        }
    }
}

/**
 * Single Doc Breadcrumbs
 */
.docspress-single-breadcrumbs {
    padding-top: 10px;
    padding-right: 39px;
    padding-bottom: 10px;
    padding-left: 39px;
    margin-top: -40px;
    margin-right: -39px;
    margin-bottom: 10px;
    margin-left: -39px;
    font-size: .75em;
    color: $color_text_main;
    list-style: none;

    li {
        display: inline;
        margin-right: 5px;
        margin-left: 5px;

        &:last-of-type {
            color: $color_text_secondary;
        }
    }

    .delimiter {
        opacity: .2;
    }

    .delimiter:last-child {
        display: none;
    }

    a {
        color: inherit;
    }
    a:hover,
    a:focus,
    a:active {
        color: $color_main;
    }
}

/**
 * Single Doc Adjacent Navigation
 */
.docspress-single-adjacent-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 39px;
    margin: 0 -39px;
    border-top: 1px solid $color_border;

    > * {
        flex: 1;
    }

    .nav-previous {
        text-align: left;
    }

    .nav-next {
        text-align: right;
    }
}

/**
 * Single Doc Feedback
 */
.docspress-single-feedback {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 29px;
    margin: 0 -39px;
    border-top: 1px solid $color_border;

    > * {
        flex: 1;
        padding: 10px;
    }

    .docspress-single-feedback-vote {
        flex: none;
        text-align: right;
    }

    &.docspress-single-feedback-loading > * {
        opacity: .15;
    }
    &.docspress-single-feedback-loading > .docspress-preloader {
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        > *,
        .docspress-single-feedback-vote {
            flex: 0 0 100%;
            text-align: center;
        }
    }
}

/**
 * Single Doc Articles
 */
.docspress-single-articles {
    ul {
        padding-left: 0;
        margin-left: 0;
        list-style: none;

        ul {
            margin-left: 16px;
        }

        li {
            font-size: .85em;

            > a {
                position: relative;
                display: block;
                padding: 2px 0;
                padding-left: 15px;
                transition: .1s;

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 0;
                    width: 4px;
                    height: 4px;
                    margin-top: -2px;
                    background-color: currentColor;
                    border-radius: 2px;
                }

                &:hover {
                    color: $color_main;
                }
            }
        }
    }
}

/**
 * Docs Archive
 */
.docspress-archive {
    // Content on the Docs Archive page
    .docspress-archive-description + & {
        margin-top: 30px;
    }

    // Doc items list
    .docspress-archive-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        .docspress-archive-list-category {
            flex: 100%;
            min-width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
            font-weight: 600;
        }
        li + .docspress-archive-list-category {
            margin-top: 20px;
        }

        > .docspress-archive-list-item {
            position: relative;
            flex: 1 0 25%;
            min-width: 300px;
            margin: 0;
            margin-right: -1px;
            margin-bottom: -1px;
            border: 1px solid $color_border;

            a {
                text-decoration: none;
                transition: .1s;
            }

            > ul {
                padding: 16px 20px;
                margin: 0;
                list-style: none;

                a:hover {
                    color: $color_main;
                }

                li {
                    position: relative;
                    font-size: .85em;

                    > a {
                        display: block;
                        padding: 2px 0;
                        padding-left: 15px;

                        &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 0;
                            width: 4px;
                            height: 4px;
                            margin-top: -2px;
                            background-color: currentColor;
                            border-radius: 2px;
                        }
                    }

                    &.more a::before {
                        content: none;
                    }
                    &.more a {
                        color: $color_text_secondary;
                    }
                    &.more a:hover {
                        color: $color_text_main;
                    }
                }
            }

            .docspress-archive-list-item-title {
                display: flex;
                align-items: center;
                min-height: 73px;
                padding: 16px 20px;
                margin: 0;
                line-height: 1.4;
                background-color: $color_border_lighten;
                border-bottom: 1px solid $color_border;

                h2 {
                    padding: 0;
                    margin: 0;
                }

                &::before,
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                img {
                    float: left;
                    width: 40px;
                    height: auto;
                    margin-right: 15px;
                    border-radius: 4px;

                    & + span {
                        max-width: calc(100% - 55px); // 40 + 15
                    }
                }

                > span {
                    position: relative;
                    flex: 1;
                    max-width: 100%;

                    h2,
                    span,
                    strong {
                        position: relative;
                        display: block;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        font-size: .7em;
                        opacity: 0;
                        transition: .1s color, .2s;
                        transform: translateY(-50%);
                    }

                    h2 {
                        top: 0;
                        font-size: 1em;
                        transition: .1s color, .2s;
                    }
                }
                &:hover > span {
                    span {
                        margin-top: -10px;
                        opacity: 1;
                    }
                    h2 {
                        top: 8px;
                        color: $color_main;
                    }
                }
            }

            // inner lists
            .docspress-archive-list-item {
                min-height: 60px;
                padding: 15px;
                margin-left: 20px;
                list-style-type: disc;

                li {
                    margin: 0;
                }
            }
        }
    }
}

/**
 * Preloader block
 */
.docspress-preloader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 350px;
    opacity: 1;

    > span {
        position: relative;
        display: block;
        width: $preloader_size;
        height: $preloader_size;
        border-radius: 50%;
        box-shadow: inset 0 0 0 $preloader_weight $preloader_color;

        > span {
            position: absolute;
            display: block;
            width: $preloader_size_inner;
            height: $preloader_size_inner;
            overflow: hidden;
            transform-origin: $preloader_size / 2 $preloader_size / 2;
            animation: docspress-spinner .7s infinite linear;

            &::after {
                content: "";
                display: block;
                width: $preloader_size;
                height: $preloader_size;
                border-radius: 50%;
                box-shadow: inset 0 0 0 $preloader_weight $preloader_color_inner;
            }
        }
    }

    @keyframes docspress-spinner {
        100% {
            transform: rotate(360deg);
        }
    }
}


/**
 * Fixes for default WP themes
 */
.docspress_theme_twentyseventeen {
    float: none !important; // stylelint-disable-line
    width: 100% !important; // stylelint-disable-line
    max-width: 700px;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 48em) {
        max-width: 1000px;
        padding-right: 3em;
        padding-left: 3em;
    }

    .docspress-single-content .entry-footer {
        border: none;
    }

    .docspress-single-content .docspress-single-articles a,
    .docspress-archive-list > .docspress-archive-list-item a,
    .docspress-archive-list > .docspress-archive-list-item .docspress-archive-list-item-title img {
        box-shadow: none;
    }
}

.docspress_theme_twentysixteen {
    .site-main {
        margin-right: 7.6923%;
        margin-left: 7.6923%;

        @media screen and (min-width: 56.875em) {
            margin-right: 0;
            margin-left: 0;
        }

        .entry-header,
        .post-thumbnail,
        .entry-content,
        .entry-summary,
        .entry-footer,
        .comments-area,
        .image-navigation,
        .post-navigation,
        .page-header,
        .page-content,
        .content-bottom-widgets {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .docspress-single-content .docspress-single-articles a,
    .docspress-archive-list > .docspress-archive-list-item a,
    .docspress-archive-list > .docspress-archive-list-item .docspress-archive-list-item-title img {
        box-shadow: none;
    }
    .docspress-single-content .docspress-single-articles a:not(:hover),
    .docspress-archive-list > .docspress-archive-list-item a:not(:hover) {
        color: inherit;
    }
}

.docspress_theme_twentyfifteen {
    .docspress-single-content,
    .docspress-single-sidebar-wrap {
        padding: 7%;

        @media screen and (min-width: 38.75em) {
            padding: 6%;
        }
        @media screen and (min-width: 59.6875em) {
            padding: 5%;
        }
    }
    .docspress-single-breadcrumbs {
        margin-top: 0;
    }
}

.docspress-single-sidebar .docspress-nav-list a,
.docspress-single .docspress-single-articles a,
.docspress-archive .docspress-archive-list a {
    border-bottom: none;
}
