#docspress-app {
    overflow: hidden;
}

.no-docspress {
    padding: 60px;
    color: #777;
    text-align: center;

    &.not-loaded {
        display: none;
    }

    &::before {
        content: "\f322";
        display: block;
        padding-bottom: 30px;
        font-family: Dashicons; // stylelint-disable-line
        font-size: 50px;
        color: #ccc;
    }
}

.docspress {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-right: -30px;
    margin-bottom: -30px;
    overflow: hidden;
    list-style: none;

    &.not-loaded {
        display: none;
    }

    &,
    * {
        box-sizing: border-box;
    }
}

.docspress-item {
    position: relative;
    flex: 1;
    min-width: calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

    @media screen and (max-width: 1400px) {
        min-width: calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
    }
    @media screen and (max-width: 940px) {
        min-width: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
    @media screen and (max-width: 600px) {
        min-width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    &.ui-sortable-placeholder {
        visibility: visible !important; // stylelint-disable-line
        background-color: transparent;
        border: 2px dashed #ccc;
    }

    h3 {
        padding: 8px 12px;
        margin: 0;
        font-size: 14px;
        line-height: 1.4;
        border-bottom: 1px solid #eee;

        img {
            float: left;
            width: auto;
            height: 20px;
            margin-right: 10px;
            border-radius: 3px;
        }

        a {
            text-decoration: none;
        }

        .docspress-row-actions {
            float: right;
        }
    }

    &:hover {
        h3 {
            .docspress-row-actions {
                visibility: visible;
            }
        }
    }

    .docspress-add-section-btn {
        display: block;
        padding: 7px 10px;
        text-align: center;
        background-color: #f7f7f7;
        border: 1px solid #eee;
    }
    .docspress-actions {
        padding: 10px 0;
        text-align: center;
        background-color: #f7f7f7;
        border-top: 1px solid #eee;

        .button .dashicons {
            vertical-align: middle;
        }
    }

    .docspress-item-inner {
        height: 320px;
        padding: 15px;
        overflow: auto;

        li {
            min-height: 34px;
        }

        li.article {
            min-height: 20px;
        }

        ul {
            &.sections {
                padding: 0;
                list-style: none;
                & > li {
                    margin-bottom: 10px;
                    &.ui-sortable-placeholder {
                        visibility: visible !important; // stylelint-disable-line
                        border: 1px dashed #ccc;
                    }
                }
                .section-title {
                    display: block;
                    padding: 7px 10px;
                    cursor: pointer;
                    background-color: #f7f7f7;
                    border: 1px solid #eee;
                }
            }
            &.articles {
                padding: 0;
                margin: 10px 0 10px 15px;
                list-style: none;
                border-left: 1px solid #eee;
                &.collapsed {
                    display: none;
                }
                li {
                    &.article {
                        padding: 5px 0;
                        &:hover {
                            .docspress-row-actions {
                                visibility: visible;
                            }
                        }
                    }
                    &::before {
                        content: " ";
                        display: inline-block;
                        width: 15px;
                        height: 0;
                        margin-right: 5px;
                        color: #eee;
                        vertical-align: middle;
                        border-top: 1px solid #eee;
                    }
                }
            }
        }
        a {
            width: auto;
            text-decoration: none;
        }
    }

}

.docspress-row-actions {
    color: #999;
    visibility: hidden;

    a {
        color: #999;
    }

    .dashicons {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }

    .dashicons:hover {
        color: #555;
    }
}

.doc-status {
    padding: 1px 3px;
    margin-left: 5px;
    font-size: 11px;
    color: #999;
    background-color: #eee;
    border-radius: 3px;
}

ul.sections {
    .count {
        display: inline-block;
        width: 18px;
        height: 18px;
        padding: 0;
        font-size: 10px;
        color: #999;
        text-align: center;
        background-color: #ddd;
        border-radius: 50%;
    }

    .section-title {
        &:hover {
            .docspress-row-actions {
                visibility: visible;
            }
        }
    }

    .actions {
        float: right;
    }
}

.docspress-btn-remove {
    cursor: pointer;
}

/**
 * SweetAlert
 */
.sweet-overlay {
    background-color: rgba(0, 0, 0, .7);
}
.docspress-swal {
    width: 400px;
    padding: 20px;
    margin-left: -220px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

    @media (max-width: 540px) {
        width: auto;
        margin-left: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 400;
        color: #23282d;
    }

    input {
        height: 1.7em;
        padding: 3px 8px;
        margin: 0 0 3px;
        font-size: 1.7em;
        line-height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0;
        outline: 0;

        &:focus {
            border-color: #5b9dd9;
            box-shadow: 0 0 2px rgba(30, 140, 190, .8);
        }
    }

    .sa-button-container {
        padding: 10px 0;
        margin: -20px;
        margin-top: 20px;
        background-color: #f7f7f7;
        border-top: 1px solid #eee;
    }

    .sa-icon {
        margin-top: 0;
        margin-bottom: 0;
        transform: scale(.6);
    }

    .la-ball-fall {
        margin-top: -5px;
    }
    .la-ball-fall > div {
        width: 6px;
        height: 6px;
        margin: 3px;
    }

    button {
        display: inline-block;
        height: 28px;
        padding: 0 10px 1px;
        margin: 0;
        font-size: 13px;
        line-height: 26px;
        color: #555;
        text-decoration: none;
        cursor: pointer;
        background: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 1px 0 #ccc !important; // stylelint-disable-line

        &:hover {
            color: #23282d;
            background: #fafafa;
            border-color: #999;
        }

        &:active {
            background: #eee;
            border-color: #999;
            box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5) !important; // stylelint-disable-line
            transform: translateY(1px);
        }
        &:focus,
        &.cancel:focus {
            border-color: #5b9dd9;
            box-shadow: 0 0 3px rgba(0, 115, 170, .8) !important; // stylelint-disable-line
        }

        &.cancel {
            background: #f7f7f7;

            &:hover {
                color: #23282d;
                background: #fafafa;
                border-color: #999;
            }
            &:active {
                background: #eee;
                border-color: #999;
                box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5) !important; // stylelint-disable-line
            }
        }

        &.confirm {
            color: #fff !important; // stylelint-disable-line
            text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 !important; // stylelint-disable-line
            background: #0085ba !important; // stylelint-disable-line
            border-color: #0073aa #006799 #006799 !important; // stylelint-disable-line
            box-shadow: 0 1px 0 #006799 !important; // stylelint-disable-line

            &:hover {
                color: #fff !important; // stylelint-disable-line
                background: #008ec2 !important; // stylelint-disable-line
                border-color: #006799 !important; // stylelint-disable-line
            }
            &:focus {
                border-color: #006799 !important; // stylelint-disable-line
                box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db !important; // stylelint-disable-line
            }
            &:active {
                background: #0073aa !important; // stylelint-disable-line
                border-color: #006799 !important; // stylelint-disable-line
                box-shadow: inset 0 2px 0 #006799 !important; // stylelint-disable-line
            }
            &[disabled] {
                color: transparent !important; // stylelint-disable-line
                text-shadow: none !important; // stylelint-disable-line
            }
        }
    }
}

/**
 * Progress Bar
 */
.docspress-export-progress {
    position: relative;
    height: 12px;
    margin-top: 30px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 1px 0 #eee;
}
.docspress-export-progress-bar {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0;
    background: #0073ab;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    transition: .5s width ease-in-out;
    animation: docspress-export-animate-progress 5s linear infinite;
}
@keyframes docspress-export-animate-progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 260px 0;
    }
}
